In [31]:
import pandas as pd

In [34]:
df = pd.read_json("amzn.json").transpose()
df['date'] = df.index
df.columns = ['open', 'high', 'low', 'close', 'volume', 'date']
df = df.reset_index(drop=True)

df['y'] = df["close"] - df["open"]

date_column = df['date'].astype(str)
for index, date in enumerate(date_column):
    date_column[index] = date_column[index].replace("-", " - ")
df['date'] = date_column
df.head(10)

    open   high    low  close      volume            date     y
0  81.50  89.56  80.00  89.38  16117600.0  2000 - 01 - 03  7.88
1  85.38  91.50  81.75  81.94  17487400.0  2000 - 01 - 04 -3.44
2  70.75  75.13  69.63  71.75  38457400.0  2000 - 01 - 05  1.00
3  71.31  72.69  64.00  65.56  18752000.0  2000 - 01 - 06 -5.75
4  67.00  70.50  66.19  69.56  10505400.0  2000 - 01 - 07  2.56
5  72.56  72.63  65.56  69.19  14757900.0  2000 - 01 - 10 -3.37
6  66.88  70.00  65.00  66.75  10532700.0  2000 - 01 - 11 -0.13
7  67.88  68.00  63.00  63.56  10804500.0  2000 - 01 - 12 -4.32
8  64.94  67.19  63.13  65.94  10448100.0  2000 - 01 - 13  1.00
9  66.75  68.50  64.00  64.25   6853600.0  2000 - 01 - 14 -2.50

In [35]:
news_raw = pd.read_csv("amznNews.csv")
news_raw.iloc[::-1]
news_raw.columns = ["date","news"]
# date_column = news_raw['date']
# for index, date in enumerate(date_column):
#     date_column[index] = date_column[index].replace(" ", "")
# news_raw.loc['date'] = date_column
news_raw.head(10)

             date                                               news
0  2018 - 04 - 16    CNBC: Amazon kills plan to sell drugs to hos...
1  2018 - 04 - 13    Bloomberg: Oracle leads anti-Amazon lobby in...
2  2018 - 04 - 12    Amazon closes Ring acquisition with a smart ...
3  2018 - 04 - 11    FactorDaily: Amazon will offer up to $2B bre...
4  2018 - 04 - 10        Whole Foods delivery expands to Los Angeles
5  2018 - 04 - 09    Morgan Stanley: Internet stocks in "penalty ...
6  2018 - 04 - 06    Amazon.com, FDA in 10-year spat over food-st...
7  2018 - 04 - 05    Amazon Key gets more locks; Trump tweets abo...
8  2018 - 04 - 04    Amazon has two new AWS products, brings hand...
9  2018 - 04 - 03    Trump repeats Amazon claims to White House r...

In [36]:
df = df.reset_index(drop=True)
trim_index = df['date'][df['date'] == '2012 - 09 - 24'].index[0]
print('Trim index', trim_index)
print(len(df))
df = df.iloc[trim_index:]
print(df['date'][df['date'] == '2012 - 09 - 24'].index[0])
df.head(10)

Trim index 3202
4602
3202

        open    high     low    close     volume            date      y
3202  255.22  255.60  253.00  254.805  2707900.0  2012 - 09 - 24 -0.415
3203  256.33  258.95  251.03  252.460  4405800.0  2012 - 09 - 25 -3.870
3204  252.40  254.61  248.23  249.670  2920500.0  2012 - 09 - 26 -2.730
3205  250.54  257.40  250.52  256.590  3397400.0  2012 - 09 - 27  6.050
3206  256.14  257.00  253.20  254.320  2456600.0  2012 - 09 - 28 -1.820
3207  255.40  256.16  250.49  252.010  2581200.0  2012 - 10 - 01 -3.390
3208  252.80  253.15  249.03  250.600  2195800.0  2012 - 10 - 02 -2.200
3209  251.21  256.10  249.56  255.920  2745600.0  2012 - 10 - 03  4.710
3210  256.01  261.52  255.87  260.470  2700400.0  2012 - 10 - 04  4.460
3211  261.20  261.90  257.49  258.510  2806500.0  2012 - 10 - 05 -2.690

In [37]:
fullData = pd.merge(df, news_raw, on='date', how='left')
fullData

,open,high,low,close,volume,date,y,news
0,255.2200,255.6000,253.0000,254.8050,2707900.0,2012 - 09 - 24,-0.4150,Supermarket chains increase their focus on w...
1,256.3300,258.9500,251.0300,252.4600,4405800.0,2012 - 09 - 25,-3.8700,Nasdaq (NDAQ) and Amazon Web Services (AMZN)...
2,252.4000,254.6100,248.2300,249.6700,2920500.0,2012 - 09 - 26,-2.7300,Barnes & Noble's (BKS +6%) Nook HD tablets m...
3,250.5400,257.4000,250.5200,256.5900,3397400.0,2012 - 09 - 27,6.0500,"Et tu, Amazon (AMZN)? Now that PayPal, Group..."
4,256.1400,257.0000,253.2000,254.3200,2456600.0,2012 - 09 - 28,-1.8200,NaN
5,255.4000,256.1600,250.4900,252.0100,2581200.0,2012 - 10 - 01,-3.3900,Though gadget reviewers weren't thrilled wit...
6,252.8000,253.1500,249.0300,250.6000,2195800.0,2012 - 10 - 02,-2.2000,"Ever aggressive with its pricing, Amazon Web..."
7,251.2100,256.1000,249.5600,255.9200,2745600.0,2012 - 10 - 03,4.7100,Amazon's (AMZN) Kindle Paperwhite e-reader i...
8,256.0100,261.5200,255.8700,260.4700,2700400.0,2012 - 10 - 04,4.4600,NaN
9,261.2000,261.9000,257.4900,258.5100,2806500.0,2012 - 10 - 05,-2.6900,"Amazon (AMZN) is buying its Seattle HQ, curr..."
10,257.6700,259.8000,255.5600,259.0600,1762300.0,2012 - 10 - 08,1.3900,Google (GOOG) tries to stoke search ad spend...
11,258.6700,259.3500,250.7300,250.9600,3494800.0,2012 - 10 - 09,-7.7100,"Amazon's (AMZN) streaming deal with Epix, wh..."
12,252.0000,252.4600,244.0100,244.9900,3948300.0,2012 - 10 - 10,-7.0100,Global data center investment is set to rise...
13,248.0000,249.3000,241.8900,244.2200,3447300.0,2012 - 10 - 11,-3.7800,Amazon's (AMZN) lending service for third-pa...
14,243.3300,245.4600,241.9100,242.3600,2203200.0,2012 - 10 - 12,-0.9700,Jeff Bezos confirms what Wall Street has lon...
15,242.8500,244.7760,238.5100,244.1800,2959800.0,2012 - 10 - 15,1.3300,A strengthening trend of consumers to divide...
16,244.8700,245.7700,242.0800,243.9400,2204100.0,2012 - 10 - 16,-0.9300,"Microsoft (MSFT) is acquiring StorSimple, a ..."
17,243.3700,248.7999,243.3000,247.4900,3302700.0,2012 - 10 - 17,4.1200,SAP's fast-growing Hana in-memory database n...
18,247.7700,250.9100,242.7000,244.8500,5305300.0,2012 - 10 - 18,-2.9200,Interesting retail question of the day: On t...
19,245.1600,246.8200,238.9400,240.0000,4395300.0,2012 - 10 - 19,-5.1600,NaN
20,238.8100,238.9500,232.3200,233.7800,4500000.0,2012 - 10 - 22,-5.0300,Texas Instruments' Q3 call didn't contain mu...
21,231.0500,236.5000,230.0100,234.3100,4430800.0,2012 - 10 - 23,3.2600,More on the iPad Mini: The cheapest model (1...
22,235.8800,235.9400,227.9501,228.4900,3678700.0,2012 - 10 - 24,-7.3900,Apple (AAPL +0.6%) estimates were lowered to...
23,230.9200,230.9200,222.9200,222.9200,6741300.0,2012 - 10 - 25,-8.0000,Amazon (AMZN) was as secretive as ever durin...
24,228.6001,238.7100,226.6900,238.2400,11367500.0,2012 - 10 - 26,9.6399,Google (GOOG) is throwing its hat into the s...
25,236.3200,238.7000,230.5000,232.8931,4797600.0,2012 - 10 - 31,-3.4269,Groupon (GRPN -7.8%) closes with big losses....
26,234.2300,234.5500,231.3400,232.1400,3905100.0,2012 - 11 - 01,-2.0900,Amazon (AMZN) announces a new Black Friday D...
27,234.0100,237.4000,232.1100,232.4224,3374700.0,2012 - 11 - 02,-1.5876,Netflix (NFLX) is still the dominant paid on...
28,232.0400,234.8300,230.1100,234.3300,1846100.0,2012 - 11 - 05,2.2900,Why the iPad Mini arrived just in time: IDC ...
29,235.4100,237.7500,234.4500,237.5600,2661300.0,2012 - 11 - 06,2.1500,RadioShack (RSH) has joined Staples (previou...
...,...,...,...,...,...,...,...,...
1370,1526.5200,1545.9000,1522.5100,1545.0000,4174123.0,2018 - 03 - 07,18.4800,Reuters: Amazon meeting to plan direct move ...
1371,1550.0000,1554.8800,1545.2500,1551.8600,3512528.0,2018 - 03 - 08,1.8600,Uber hires Amazon's VP of voice shopping CNB...
1372,1563.5000,1578.9400,1559.0800,1578.8900,4417059.0,2018 - 03 - 09,15.3900,Morgan Stanley: Amazon could disrupt online ...
1373,1592.6000,1605.3300,1586.7000,1598.3900,5115886.0,2018 - 03 - 12,5.7900,"Amazon roundup: Alexa goes to work, Amazon s..."
1374,1615.9600,1617.5400,1578.0100,1588.1800,6427066.0,2018 - 03 - 13,-27.7800,Amazon recalls portable battery chargers due...
1375,1597.0000,1606.4400,1590.8900,1591.0000,4164395.0,2018 - 03 - 14,-6.0000,Amazon launches first debit card in Mexico W...
1376,1595.0000,1596.9100,1578.1100,1582.3200,4026744.0,2018 - 03 - 15,-12.6800,CNBC: AWS planning ready-to-use corporate tr...
1377,1583.4500,1589.4400,1567.5000,1571.6800,5145054.0,2018 - 03 - 16,-11.7700,CNBC: Amazon.com adds former FDA official to...
1378,1554.5300,1561.6600,1525.3500,1544.9300,6376619.0,2018 - 03 - 19,-9.6000,Whole Foods holding supplier summit Google r...
1379,1550.3400,1587.0000,1545.4100,1586.5100,4507049.0,2018 - 03 - 20,36.1700,Amazon's market cap passes Alphabet CNBC: Am...
1380,1586.4500,1590.0000,1563.1700,1581.8600,4667291.0,2018 - 03 - 21,-4.5900,Recode: Uber withdraws job offer to Amazon v...
1381,1565.4700,1573.8500,1542.4000,1544.9200,6177737.0,2018 - 03 - 22,-20.5500,WSJ: Whole Foods execs keep leaving Amazon
1382,1539.0100,1549.0200,1495.3600,1495.5600,7843966.0,2018 - 03 - 23,-43.4500,Whole Foods confirms layoffs following Amazo...
1383,1530.0000,1556.9900,1499.2500,1555.8600,5547618.0,2018 - 03 - 26,25.8600,Whole Foods looks to leverage Amazon Lockers...
1384,1572.4000,1575.9600,1482.3200,1497.0500,6793279.0,2018 - 03 - 27,-75.3500,Reuters: Amazon in talks with retail group f...
1385,1447.0000,1455.9000,1386.1700,1431.4200,13705317.0,2018 - 03 - 28,-15.5800,Analyst says not to panic about potential Tr...
1386,1406.0000,1455.4700,1365.2000,1447.3400,12581121.0,2018 - 03 - 29,41.3400,White House says Trump isn't discussing new ...
1387,1417.6200,1421.3600,1355.0000,1371.9900,10463607.0,2018 - 04 - 02,-45.6300,CNBC: Walmart looking to buy online pharmacy...
1388,1391.3800,1414.0000,1355.3300,1392.0500,10231212.0,2018 - 04 - 03,0.6700,Trump repeats Amazon claims to White House r...
1389,1358.2400,1415.3900,1352.8800,1410.5700,6982305.0,2018 - 04 - 04,52.3300,"Amazon has two new AWS products, brings hand..."
1390,1441.9900,1459.5600,1427.0700,1451.7500,6413459.0,2018 - 04 - 05,9.7600,Amazon Key gets more locks; Trump tweets abo...
1391,1429.9700,1452.5000,1400.2600,1405.2300,5882257.0,2018 - 04 - 06,-24.7400,"Amazon.com, FDA in 10-year spat over food-st..."
1392,1425.0300,1438.4800,1402.5700,1406.0800,4208206.0,2018 - 04 - 09,-18.9500,"Morgan Stanley: Internet stocks in ""penalty ..."
1393,1431.9900,1438.3800,1415.7000,1436.2200,4280144.0,2018 - 04 - 10,4.2300,Whole Foods delivery expands to Los Angeles
1394,1439.4400,1448.7800,1424.8900,1427.0500,3582533.0,2018 - 04 - 11,-12.3900,FactorDaily: Amazon will offer up to $2B bre...
1395,1439.5000,1452.1200,1435.0600,1448.5000,3135027.0,2018 - 04 - 12,9.0000,Amazon closes Ring acquisition with a smart ...
1396,1449.1400,1459.7800,1424.5200,1430.7900,3685267.0,2018 - 04 - 13,-18.3500,Bloomberg: Oracle leads anti-Amazon lobby in...
1397,1445.0000,1447.0000,1427.4800,1441.5000,2808624.0,2018 - 04 - 16,-3.5000,CNBC: Amazon kills plan to sell drugs to hos...
1398,1462.3000,1507.1900,1457.0200,1503.8300,5004995.0,2018 - 04 - 17,41.5300,NaN
1399,1514.6501,1533.8000,1504.1100,1527.8400,5197642.0,2018 - 04 - 18,13.1899,NaN

In [38]:
fullData.to_csv('amzn_news_stock_merged.csv', index=False)